* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background: #1b1b1baa;
  --main: #ffd900;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Loos Normal";
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 2px var(--background);
  text-transform: uppercase;
}

.wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(to left, var(--background), transparent);
  width: max-content;
  border-radius: 5px;
}

#time {
  color: var(--main);
  font-size: 1.5rem;
}
